.container-for-hits-slider{
	max-width: 1430px;
	padding: 0 15px;
	margin: 0 auto;
}
.hits {
	padding: 120px 0;
}
.hits__body {
	display: flex;
	justify-content: space-between;
	padding: 0 20px;
	margin: 0 0 50px 0;
}
.hits__title {
	font-family: 'SegoeUI bold';
	color: #1e1f21;
	font-size: 40px;
}
.hits__all-projects{
	display: flex;
	align-items: center;
}
.hits__all-projects a{
	display: block;
	color: #83b62f;
	font-size: 16px;
	font-family: 'SegoeUI s-b';
	padding: 0 10px 4px 0;	
}
.hits__all-projects img{
	width: 13px;
	height: 9px;
}
.hits-slider {
	min-width: 0;
}


.hits-slider__item{
	border-radius: 4px;
	border: 1px solid #e7e7e7;
	background-color: #ffffff;
}
.hits-slider__content{
	display: flex;
	flex-direction: column;
	height: 100%;
}
.hits-slider__item:hover{
	box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	border: 1px solid #dcdcdc;
	background-color: #ffffff;
}


.hits-slider__img {
	margin: 0 0 25px 0;
}

.hits-slider__img img{
	width: 100%;
}
.hits-slider__title {
	text-align: center;
	font-family: 'SegoeUI s-b';
	color: #1e1f21;
	font-size: 20px;
	line-height: 25px;
	margin: 0 0 5px 0;
}
.hits-slider__text {
	font-family: 'SegoeUI reg';
	color: #1e1f21;
	line-height: 23px;
	text-align: center;
	margin: 0 auto 15px auto;
	max-width: 230px;
	flex: 1 1 auto;

}
.hits-slider__button {

	display: flex;
	align-items: center;
	justify-content: center;
	width: 240px;
	height: 56px;
	border-radius: 72px;
	border: 1px solid  #83b62f;
	color: #83b62f;
	margin: 0 auto 25px auto;

}
.hits-slider__button:hover {
	background-color: #83b62f;
	color: #ffffff;
}


@media (max-width: 1500px) {
	.container-for-hits-slider{
		max-width: 1300px;
	}
}
@media (max-width: 1415px) {
	.container-for-hits-slider{
		max-width: 1200px;
	}
	.hits-slider__button {
		width: 180px;
		height: 50px;
	}
}
@media (max-width: 1305px) {
	.container-for-hits-slider{
		max-width: 1100px;
	}
	.slick-slide{
		margin: 0 15px;
	}
	.slick-arrow.slick-prev{
		left: -50px;
	} 
	.slick-arrow.slick-next{
		right: -50px;
	} 
	.hits-slider__button {
		width: 160px;
		height: 45px;
	}
}
@media (max-width: 1175px) {
	.container-for-hits-slider{
		max-width: 1000px;
	}
	.slick-dots{
		padding: 20px 0 0 0;
	} 
}
@media (max-width: 1085px) {
	.container-for-hits-slider{
		max-width: 900px;
	}
	.hits {
		padding: 60px 0;
	}
	.hits__body {
		flex-direction: column;
		margin: 0 0 30px 0;
	}
	.hits__title {
		margin: 0 0 20px 0;
	}
	.slick-dots{
		padding: 15px 0 0 0;
	} 
}

@media (max-width: 992px) {
	.container-for-hits-slider{
		max-width: 800px;
	}
}
@media (max-width: 890px) {
	.container-for-hits-slider{
		max-width: 700px;
	}
}
@media (max-width: 785px) {
	.container-for-hits-slider{
		max-width: 600px;
	}
}
@media (max-width: 690px) {
	.container-for-hits-slider{
		max-width: 550px;
	}
}
@media (max-width: 670px) {
	.container-for-hits-slider{
		max-width: 400px;
	}
	.hits__title {
		font-size: 35px;
	}
}
@media (max-width: 490px) {
	.container-for-hits-slider{
		max-width: 320px;
	}
	.slick-slide{
		margin: 0 5px;
	}
	.hits__body{
		padding: 0;
	}
	.hits-slider__text {
		font-family: 'SegoeUI reg';
		color: #1e1f21;
		line-height: 23px;
		text-align: center;
		margin: 0 auto 15px auto;
		max-width: none;
	}

}
@media (max-width: 420px) {
	.hits__title {
		font-size: 30px;
	}
}
@media (max-width: 410px) {
	.container-for-hits-slider{
		max-width: 250px;
	}
}